:root {
  --delay: 0;
}

article {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 50px 1fr;
  img {
    max-width: 30px;
  }
  p {
    margin: 0;
    font-style: italic;
  }
  .info {
    color: rgba(175, 175, 175, 1);
    font-size: 12px;
  }
}
