header {
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, .26);
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 60px;
}

nav {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  h2 {
    font-size: 3rem;
    color: rgb(12, 52, 75);
    margin: 0;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
  }
  li {
    padding: 5px 10px;
  }
  a {
    color: rgb(12, 52, 75);
    text-decoration: none;
    font-size: 1.7rem;
    padding: 0 10px;
    &:hover {
      color: rgb(143, 166, 178);
    }
    &.active {
      font-weight: 700;
    }
  }
}

#logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2,
  h3 {
    line-height: 1;
    margin: 0;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2rem;
  }
}
