$color-blue: #4768FD;
$color-gray: #4A4A4A;
$color-white: #ffffff;
// ---------------------------------------------
// ---------------------------------------------
$color-primary: $color-blue;
$color-text: $color-gray;
